@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
    background-color: #2F2E41;
}

header {
    color: #FFFFFF;
    font-family: JetBrains Mono;
    font-size: 14px;
    font-weight: medium;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 71px 375px 0 375px;
}

header nav ul{
    display: flex;
    gap: 64px;
}

header nav ul li {
    list-style: none;
    text-decoration: none;
} 

header nav ul li a{
    text-decoration: none;
    color: #FFFFFF;
}

main {
    display: flex;
    justify-content: space-between;

    text-align: center;
    margin: 101px 375px 157px 375px;
}

main img {
    text-align: center;

}

main div p {
    color: #C2C2C2;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
}

h1 {
    color: #FFFFFF;
    font-family: JetBrains Mono;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 59px;
}

footer {
    color: #FFFFFF; 
    font-family: JetBrains Mono;
    font-size: 14px;
    font-weight: medium;
    text-align: center;
}

.line  {
    margin-bottom: 27px;
}

.padlock {
    position: fixed;
    left: 347px;
}

footer p {
    margin-top: 0px;
}

footer p a {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: bold;
}
.cyan {
    color: #00BFA6;
    font-weight: bold;
}

.bold {
    font-weight: bold;
}

a:hover {
    color: #00BFA6;
}